---
import { Icon } from "astro-icon/components";
---

<div
  class="hover:border-purple-blue/80 rounded-lg border border-gray-700 bg-gray-900 p-2 transition-colors duration-200 ease-in-out"
>
  <h2 class="font-space-grotesk flex items-center text-xl font-bold italic">
    <Icon name="fluent-emoji-flat:books" class="mr-2" /> Sobre
  </h2>
  <p class="mt-1 text-lg text-gray-300">
    Esta aplicação utiliza a biblioteca
    <a
      href="https://github.com/kozakdenys/qr-code-styling"
      class="text-blue-400 underline"
      target="_blank"
    >
      qr-code-styling
    </a>
    para gerar QR Codes com alta personalização.
  </p>
</div>
