---
import { Icon } from "astro-icon/components";
---

<div
  class="hover:border-purple-blue/80 rounded-lg border border-gray-700 bg-gray-900 p-2 transition-colors duration-200 ease-in-out"
>
  <h2 class="font-space-grotesk flex items-center text-xl font-bold italic">
    <Icon name="line-md:link" class="mr-2 text-slate-400" /> Exemplo de uso
  </h2>
  <div class="mt-1 rounded bg-gray-800 px-3 py-2 text-green-300">
    http://localhost:4321/qr?data=https://openai.com&size=300&shape=rounded&download=png&name=meu-qr
  </div>
</div>
