---
import { Icon } from "astro-icon/components";
---

<div
  class="bg-gray-900 border border-gray-700 rounded-lg p-2 hover:border-purple-blue/80 transition-colors ease-in-out duration-200"
>
  <h2 class="flex items-center font-space-grotesk font-bold italic text-xl">
    <Icon name="typcn:info" class="text-yellow-400 mr-2" /> Como funciona
  </h2>
  <p class="text-gray-300 text-lg mt-1">
    Gere QR Codes personalizados com base em parâmetros fornecidos via URL. Você
    pode definir dados, cores, formas e até baixar o resultado automaticamente.
  </p>
</div>
