---
import { Icon } from "astro-icon/components";
---

<div
  class="hover:border-purple-blue/80 rounded-lg border border-gray-700 bg-gray-900 p-2 transition-colors duration-200 ease-in-out"
>
  <h2 class="font-space-grotesk flex items-center text-xl font-bold italic">
    <Icon name="typcn:info" class="mr-2 text-yellow-400" /> Como funciona
  </h2>
  <p class="mt-1 text-lg text-gray-300">
    Gere QR Codes personalizados com base em parâmetros fornecidos via URL. Você
    pode definir dados, cores, formas e até baixar o resultado automaticamente.
  </p>
</div>
