<table class="max-w-4xl min-w-full text-left text-sm text-gray-300">
  <thead class="bg-gray-800 text-xs text-gray-400 uppercase">
    <tr>
      <th class="px-4 py-2">Parâmetro</th>
      <th class="px-4 py-2">Tipo</th>
      <th class="px-4 py-2">Descrição / Valores</th>
    </tr>
  </thead>
  <tbody>
    <tr
      ><td class="px-4 py-1">data</td><td>string</td><td
        >Texto ou URL codificada</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">size</td><td>number</td><td
        >Largura e altura iguais</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">w</td><td>number</td><td>Largura personalizada</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">h</td><td>number</td><td>Altura personalizada</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">margin</td><td>number</td><td
        >Margem externa (padrão: 10)</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">shape</td><td>enum</td><td
        ><code>square</code>, <code>rounded</code></td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">type</td><td>enum</td><td
        ><code>svg</code> ou <code>canvas</code></td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">dotsColor</td><td>string</td><td
        >Cor dos pontos (ex: <code>#000</code>)</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">dotsType</td><td>enum</td><td
        ><code>rounded</code>, <code>square</code></td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">bgColor</td><td>string</td><td
        >Cor de fundo do QR</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">bgRound</td><td>number</td><td
        >Arredondamento do fundo (0–1)</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">img</td><td>string</td><td
        >URL da imagem central</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">imgSize</td><td>number</td><td
        >Tamanho relativo da imagem (0–1)</td
      ></tr
    >
    <tr
      ><td class="px-4 py-1">imgMargin</td><td>number</td><td
        >Margem ao redor da imagem</td
      ></tr
    >
    <tr
      ><td class="px-4 py-2">download</td><td>enum</td><td
        ><code>svg</code>, <code>png</code>, <code>jpeg</code>, <code>webp</code
        ></td
      ></tr
    >
    <tr
      ><td class="px-4 py-2">name</td><td>string</td><td
        >Nome do arquivo baixado</td
      ></tr
    >
  </tbody>
</table>
