---
import { Icon } from "astro-icon/components";
---

<div
  class="bg-gray-900 border border-gray-700 rounded-lg p-2 hover:border-purple-blue/80 transition-colors ease-in-out duration-200"
>
  <h2 class="flex items-center font-space-grotesk font-bold italic text-xl">
    <Icon name="fluent-emoji-flat:books" class="mr-2" /> Sobre
  </h2>
  <p class="text-gray-300 text-lg mt-1">
    Esta aplicação utiliza a biblioteca
    <a
      href="https://github.com/kozakdenys/qr-code-styling"
      class="text-blue-400 underline"
      target="_blank"
    >
      qr-code-styling
    </a>
    para gerar QR Codes com alta personalização.
  </p>
</div>
