---
const lights = Array.from({ length: 20 });
const delays = lights.map(() => (Math.random() * 2).toFixed(2));
---

<style>
  @reference "../styles/globals.css";
  @keyframes blink {
    0%,
    100% {
      opacity: 0.25;
    }
    50% {
      opacity: 1;
    }
  }

  .light::after {
    content: "";
    @apply absolute top-1 left-1/2 h-[10px] w-[3px] -translate-x-1/2 rounded-sm bg-white/70 opacity-90 blur-[1px];
  }

  .light:first-child,
  .light:last-child {
    transform: translateY(-0.3rem);
  }
  @media (max-width: 768px) {
    .light:nth-child(3n) {
      display: none;
    }
  }
</style>

<div
  class="absolute bottom-[-1rem] left-0 w-full flex justify-between gap-2 pointer-events-none -z-5 px-2"
>
  {
    lights.map((_, i) => {
      const colors = ["red", "green", "blue", "yellow"];
      const color = colors[i % 4];

      const delay = delays[i];

      return (
        <div
          style={`animation-delay: ${delay}s;`}
          class={`
            light relative w-[12px] h-[22px] rounded-[50%] opacity-95
            animate-[blink_1.6s_ease-in-out_infinite]
            shadow-[0_0_6px_var(--tw-shadow-color)]
            ${color === "red" ? "bg-red-500 shadow-red-400" : ""}
            ${color === "green" ? "bg-green-500 shadow-green-400" : ""}
            ${color === "blue" ? "bg-blue-500 shadow-blue-400" : ""}
            ${color === "yellow" ? "bg-yellow-500 shadow-yellow-300" : ""}
          `}
        />
      );
    })
  }
</div>
