---
import { Icon } from "astro-icon/components";
import type { ComponentProps } from "astro/types";
import WhatsIcon from "../ui/WhatsIcon.astro";
interface Props extends Omit<ComponentProps<typeof Icon>, "name"> {
  href?: string;
  name?: string;
  title?: string;
}
const { href, title, name = "whatsapp", ...rest } = Astro.props as Props;
const isCustom = name === "whatsapp";
---

<a
  href={href}
  title={title}
  target="_blank"
  rel="noopener noreferrer"
  class="flex items-center justify-center gap-3 p-4 bg-purple-blue border border-black/50 rounded-lg text-white/80
    hover:contrast-150 hover:text-white transition-all duration-300 ease-in-out"
>
  <span>{title}</span>
  {isCustom ? <WhatsIcon class="w-7.2 h-7.2" /> : <Icon name={name} class="w-8 h-8" {...rest} />}
</a>
