<div class="absolute inset-0 bg-gradient-to-bl from-purple-500 via-blue-600 to-purple-300 opacity-60
  -z-1">
  <svg width="100%" height="100%">
    <filter id="noise" aria-label="Filter Noise Gradient">
      <feTurbulence type="fractalNoise" baseFrequency="3" numOctaves="3" stitchTiles="stitch" />
    </filter>
    <rect filter="url(#noise)" width="100%" height="100%"/>
  </svg>  
</div>
