<div
  class="absolute inset-0 opacity-80 bg-gradient-to-r from-red-400 to-purple-400 dark:from-orange-600
  dark:to-purple-blue -z-1"
>
  <svg width="100%" height="100%">
    <filter id="noise" aria-label="Filter Noise Gradient">
      <feTurbulence seed="2" numOctaves="2" type="fractalNoise" stitchTiles="stitch" baseFrequency="0.4"></feTurbulence>
    </filter>
    <rect width="100%" height="100%" filter="url(#noise)" style="mix-blend-mode: soft-light;"></rect>
  </svg>
</div>
