---
import { Icon } from "astro-icon/components";
import LogoReactNative from "/public/react_native.svg";

const technologiesData = [
  {
    name: "React Native",
    icon: "devicon:react",
    customIcon: LogoReactNative,
    class: "w-11 h-11 rounded-full",
  },
  { name: "Next.js", icon: "devicon:nextjs", class: "w-11 h-11" },
  { name: "Astro", icon: "lineicons:astro", class: "text-purple-500" },
  { name: "Delphi", icon: "devicon:delphi" },
  { name: "Tortoise", icon: "devicon:tortoisegit" },
  { name: "Github", icon: "fe:github", class: "w-11 h-11 text-white" },
  { name: "Figma", icon: "devicon:figma" },
  { name: "Tailwind CSS", icon: "devicon:tailwindcss" },
  { name: "React", icon: "devicon:react" },
  { name: "Javascript", icon: "devicon:javascript" },
  { name: "Illustrator", icon: "devicon:illustrator" },
  { name: "Typescript", icon: "devicon:typescript" },
  { name: "Python", icon: "devicon:python" },
  { name: "Git", icon: "devicon:git" },
  { name: "Kotlin", icon: "devicon:kotlin" },
  { name: "Object Pascal", icon: "material-icon-theme:pascal" },
  { name: "Node.js", icon: "akar-icons:node-fill", class: "text-green-500" },
];

const technologies = [...technologiesData, ...technologiesData];
---

<div class="relative w-full group bg-black border-y border-white/20 py-2 overflow-hidden">
  <div class="flex w-max justify-center items-center gap-10 will-change-transform animate-horz-loop group-hover:pause">
    {
      technologies.map((tech) => {
        const CustomIcon = tech.customIcon || Icon;
        const baseIconClass = ["Astro", "Node.js"].includes(tech.name) && "w-10 h-10";
        return (
          <span
            class="flex justify-center items-center gap-2 text-white text-center text-3xl text-nowrap font-cascadia-code 
            font-bold"
          >
            {tech.name}
            <CustomIcon
              name={tech.icon}
              aria-label={`Icon of ${tech.name}`}
              class={`${baseIconClass} ${tech.class || ""}`}
            />
          </span>
        );
      })
    }
  </div>
</div>
