---
import { Icon } from "astro-icon/components";
import cn from "../utils/cn";
import LogoReactNative from "/public/react_native.svg";

interface Props {
  class?: string;
  /** It only returns a visual list of the technologies. */
  list?: (typeof technologiesData)[number]["name"][];
}

const technologiesData = [
  {
    name: "React Native",
    icon: "devicon:react",
    customIcon: LogoReactNative,
    class: "w-9.5 h-9.5 rounded-full",
  },
  { name: "Next.js", icon: "devicon:nextjs", class: "w-14 h-14 -m-2 pb-0.5" },
  {
    name: "Astro",
    icon: "lineicons:astro",
    class: "w-11 h-11 text-purple-500 pt-0.5",
  },
  { name: "Delphi", icon: "devicon:delphi", class: "w-9.9 h-9.9" },
  { name: "Tortoise", icon: "devicon:tortoisegit", class: "w-14 h-14 pt-0.5" },
  { name: "Github", icon: "fe:github", class: "w-11 h-11 text-white" },
  { name: "Figma", icon: "devicon:figma", class: "w-9 h-9" },
  { name: "Tailwind CSS", icon: "devicon:tailwindcss", class: "w-10.2 h-10.2" },
  { name: "React", icon: "devicon:react", class: "w-10 h-10 pt-0.5" },
  { name: "Javascript", icon: "devicon:javascript", class: "w-9 h-9" },
  { name: "Illustrator", icon: "devicon:illustrator", class: "w-10 h-10" },
  { name: "Typescript", icon: "devicon:typescript", class: "w-9 h-9" },
  { name: "Python", icon: "devicon:python", class: "w-10.2 h-10.2" },
  { name: "Git", icon: "devicon:git", class: "w-9.8 h-9.8 pb-0.5" },
  { name: "HTML", icon: "devicon:html5", class: "w-9.9 h-9.9" },
  { name: "Kotlin", icon: "devicon:kotlin", class: "w-10 h-10" },
  {
    name: "Object Pascal",
    icon: "material-icon-theme:pascal",
    class: "w-10 h-10",
  },
  { name: "CSS", icon: "devicon:css3", class: "w-9.9 h-9.9" },
  {
    name: "Node.js",
    icon: "akar-icons:node-fill",
    class: "w-9.8 h-9.8 text-green-500",
  },
];

const { list, class: className = "" } = Astro.props as Props;

const duplicateTechnologies = [...technologiesData, ...technologiesData];
const baseClass =
  "relative w-full group bg-black border-y border-white/20 py-2 overflow-hidden";
const finalClass = cn(baseClass, className);
---

{
  list ? (
    <div class="">
      <Icon name="akar-icons:node-fill" />
    </div>
  ) : (
    <div class={finalClass}>
      <div
        translate="no"
        class="flex w-max justify-center items-center gap-10 will-change-transform animate-horz-loop group-hover:pause"
      >
        {duplicateTechnologies.map((tech) => {
          const CustomIcon = tech.customIcon || Icon;
          return (
            <span
              class="flex justify-center items-center gap-2 text-white text-center text-3xl text-nowrap font-cascadia-code 
            font-bold"
            >
              {tech.name}
              <CustomIcon
                name={tech.icon}
                aria-label={`Icon of ${tech.name}`}
                class={`${tech.class || ""}`}
              />
            </span>
          );
        })}
      </div>
    </div>
  )
}
