---
import p from "../../constants/personal";
---

<section class="flex flex-col gap-8 border-t-2 border-gray-default pt-6">
  <h1 class="text-3xl">Resumo Profissional</h1>{p.professionalSummary}
</section>
