@import "tailwindcss";

@theme inline {
  --z-index-1: 1;
  --spacing-11%: 11%;
  --spacing-25%: 25%;
  --spacing-78%: 78%;
  --color-beige: #c7b086;
  --spacing-0.8: 0.188rem;
  --color-beige-dark: #8a7a63;
  --animate-show: show 0.2s ease-in-out forwards;
  --animate-hide: hide 0.2s ease-in-out forwards;
  --color-purple-default: oklch(60.83% 0.297 312.11);
  --color-purple-blue: oklch(51.98% 0.288 289.11);
  --font-noto-sans-jp: "Noto Sans JP", arial, sans-serif, ui-monospace,
    monospace;
  @keyframes show {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
  @keyframes hide {
    100% {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
}

@layer {
  .dark {
    --background-default: oklch(0.9 0 0);
  }
  .light {
    --background-default: oklch(0.9 0 0);
  }
  .noise {
    filter: url(#noise);
  }
}
