@utility content-str {
  content: "";
}

@utility reverse {
  animation-direction: reverse;
}

@utility transition-border {
  transition-property: border;
}

@utility no-transition {
  animation: none;
  transition: none;
}

@utility pause {
  animation-play-state: paused;
}

/* dark theme in "data-theme" */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility projects-orbit {
  position: absolute;
  z-index: -1;
  width: 20rem;
  height: 20rem;
  border-radius: 999px;
  filter: blur(0.2px);
  transform: rotate(28deg) scaleY(0.35);
}

@utility projects-grid {
  position: absolute;
  z-index: -1;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  filter: blur(2rem);
}
