@utility content-str {
  content: "";
}

@utility reverse {
  animation-direction: reverse;
}

@utility transition-border {
  transition-property: border;
}

@utility no-transition {
  animation: none;
  transition: none;
}

@utility pause {
  animation-play-state: paused;
}

/* dark theme in "data-theme" */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility mask-diagonal-fade {
  z-index: -1;
  mask-repeat: no-repeat;
  mask-position: bottom center;
  mask-size: 100% 70%;
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
}