---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="QR Code | Fábio Ghizoni"
  bodyClass="justify-center items-center overflow-hidden"
  description="QR Code Page | A souvenir especially for you"
>
  <div id="qr"></div>
</Layout>

<script src="../../scripts/QrCode.ts"></script>
