---
import p from "../../constants/personal";
import Layout from "../../layouts/Layout.astro";

const description = `QR Code Page | Page for generating custom QR Codes with parameters and attributes sent 
  via URL.`;
---

<Layout
  clientRouter={false}
  title=`QR Code | ${p.name}`
  bodyClass="flex-row justify-center items-center gap-10 overflow-hidden"
  description={description}
>
  <div id="qr" class="scale-90"></div>
  <h2
    class="font-cascadia-code flex flex-col items-center justify-center gap-1 text-2xl text-white"
  >
    Are you unsure how it works?
    <a
      href="/qr/info"
      class="from-purple-default to-purple-blue font-space-grotesk rounded bg-linear-to-r px-3 py-1 font-bold"
      >Click here</a
    >
  </h2>
</Layout>

<script src="../../scripts/qr-code.ts"></script>
