---
import { Icon } from "astro-icon/components";
import p from "../../constants/personal";
import Layout from "../../layouts/Layout.astro";
import AboutQrCode from "../../ui/qr/AboutQrCode.astro";
import ExampleQrCode from "../../ui/qr/ExampleQrCode.astro";
import HowWorksQrCode from "../../ui/qr/HowWorksQrCode.astro";
import QrInfoTable from "../../ui/qr/QrInfoTable.astro";
import ResultQrCode from "../../ui/qr/ResultQrCode.astro";

const description = `Page QR Info | Information page about the QR Code generator, including usage instructions and 
  available parameters.`;
---

<Layout
  title=`QR Info | ${p.name}`
  bodyClass="flex-row max-w-8xl h-fit place-self-center justify-center items-center gap-x-4"
  description={description}
>
  <section class="flex flex-col gap-4 text-white">
    <h1 class="text-3xl font-bold">Gerador de QR Code</h1>
    <HowWorksQrCode />
    <ExampleQrCode />
    <ResultQrCode />
    <AboutQrCode />
  </section>
  <section
    class="hover:border-purple-blue/80 min-w-xl overflow-x-auto rounded-lg border border-gray-700 bg-gray-900 p-5 transition-colors duration-200 ease-in-out"
  >
    <h2
      class="mb-4 flex items-center justify-center gap-2 text-xl font-semibold text-white"
    >
      <Icon name="icon-park-outline:setting-config" /> Parâmetros disponíveis
    </h2>
    <QrInfoTable />
  </section>
</Layout>
