---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Fábio Ghizoni" description=`Página 404 | Rota não encontrada, volte para a página inicial clicando na logo
  no canto superior esquerdo ou no botão "inicial" no meio da tela!!`>
  <h1 class="text-5xl text-center font-noto-sans-jp bg-white tracking-wide leading-tight">
    Página não encontrada | 404, <br />volte para a página
    <a href="/" class="relative inline-block after:w-0 after:h-0.8 after:block after:bg-black after:transition-all 
      after:rounded-md after:duration-300 hover:after:w-full">
      inicial
    </a>
  </h1>
</Layout>
