---
import Layout from "../layouts/Layout.astro";
import ListItem from "../ui/ListItem.astro";
---

<Layout
  header
  footer
  title="404 | Fábio Ghizoni"
  description=`Page 404 | Route not found, return to the home page by clicking on the logo in the upper left corner 
    or the "home" button in the middle of the screen!!`
>
  <h1 class="text-5xl text-center text-white font-noto-sans-jp tracking-wide leading-tight">
    Page not found | 404, <br />return to the home
    <ListItem href="/" variant="primary" underlineHeight="0.8" underlineColor="white/60">page</ListItem>
  </h1>
</Layout>
