---
import p from "../constants/personal";
import Layout from "../layouts/Layout.astro";
import UnderlineButton from "../ui/UnderlineButton.astro";

const description = `Page 404 | Route not found, return to the home page by clicking on the logo in the upper 
  left corner or the "home" button in the middle of the screen!!`;
---

<Layout
  header
  footer
  bodyClass="bg-light"
  title=`404 | ${p.name}`
  description={description}
>
  <h1
    class="font-space-grotesk fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-5xl leading-tight tracking-wide text-white"
  >
    Page not found | 404, <br />return to the home
    <UnderlineButton
      href="/"
      variant="primary"
      class="h-0.8 text-purple-blue after:bg-purple-blue/60 text-5xl transition-colors duration-300 ease-in-out hover:text-white"
      >page</UnderlineButton
    >
  </h1>
</Layout>
