---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404 | FĂ¡bio Ghizoni"
  description=`PĂ¡gina 404 | Rota nĂ£o encontrada, volte para a pĂ¡gina inicial clicando na logo
  no canto superior esquerdo ou no botĂ£o "inicial" no meio da tela!!`
>
  <h1 class="text-5xl text-center font-noto-sans-jp tracking-wide leading-tight">
    Page not found | 404, <br />return to the home
    <a
      href="/"
      class="relative inline-block after:w-0 after:h-0.8 after:block after:bg-black after:transition-all
      after:rounded-md after:duration-300 hover:after:w-full"
    >
      page
    </a>
  </h1>
</Layout>
