---
import Layout from "../layouts/Layout.astro";

const description = `Page Curriculum | Resume page containing all professional and academic information 
  of Fábio Ghizoni`;
---

<Layout
  header
  footer
  title="Curriculum | Fábio Ghizoni"
  description={description}
>
  <h1 class="text-white">Curriculum</h1>
</Layout>
