---
import Layout from "../layouts/Layout.astro";
---

<Layout
  header
  footer
  title="Curriculum | Fábio Ghizoni"
  description=`Page Curriculum | Resume page containing all professional and academic 
    information of Fábio Ghizoni`
>
  <h1 class="text-white">Curriculum</h1>
</Layout>
