<footer class="flex w-full min-h-10 text-white justify-center items-center">
  <p class="text-sm md:text-base">
    &copy; {new Date().getFullYear()}
    <a 
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.instagram.com/fabio.ghizoni_" 
      class="font-semibold bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-purple-600">
      Fábio Ghizoni.
    </a>
     Todos os direitos reservados.
  </p>
</footer>
