---
import p from "../constants/personal";
import { removeSpaces } from "../utils";

const date = new Date();
const anchorClass = removeSpaces(
  `from-purple-default to-purple-blue hover:from-purple-blue hover:to-purple-default bg-linear-to-r bg-clip-text font-semibold 
    text-transparent transition-colors duration-300 ease-in-out`,
);
---

<footer
  role="contentinfo"
  class="text-gray-default mt-6 flex min-h-10 w-full items-center justify-center px-8 py-4 text-center dark:text-white"
>
  <p class="font-space-grotesk text-base md:text-lg">
    &copy; {date.getFullYear()}
    <span class="sr-only">- Author:</span>
    <a
      role="link"
      target="_blank"
      rel="noopener noreferrer"
      href={p.socials.insta}
      class={anchorClass}
    >
      Fábio Ghizoni.
    </a>
    All rights reserved.
  </p>
</footer>
