---
import { Image } from "astro:assets";
import ListItem from "../ui/ListItem.astro";
import SwitchLang from "../ui/SwitchLang.astro";
import SwitchTheme from "../ui/SwitchTheme.astro";

const alt = "Logo Fábio Ghizoni";
const title = "Return to home page";
---

<div
  id="div-header"
  class="fixed hidden w-full p-2 z-1 no-transition animate-height transition-all ease-in-out duration-500"
>
  <header
    role="heading"
    aria-level="1"
    class="flex max-w-7xl bg-gray-default border border-white/35 justify-between items-center gap-6 p-2 mx-auto rounded-full"
  >
    <Image
      id="logo"
      alt={alt}
      width={80}
      height={80}
      title={title}
      loading="eager"
      src="/logo.svg"
      class="h-8 p-0.5 cursor-pointer animate-show-logo"
    />
    <ul class="flex justify-center items-center ml-auto text-xl font-bold text-white font-cascadia-code gap-8">
      <ListItem icon="material-symbols:home-rounded"><span class="hidden sm:block">Home</span></ListItem>
      <ListItem icon="mdi:about" id="li-about-me" title="Go to about section">
        <span class="hidden sm:block">About me</span>
      </ListItem>
      <ListItem icon="mdi:contact" id="li-contact-me" title="Go to contact section">
        <span class="hidden sm:block">Contact me</span>
      </ListItem>
    </ul>

    <SwitchTheme />
    <SwitchLang />
  </header>
</div>

<script src="../scripts/Header.js"></script>
