---
const alt = "Logo Fábio Ghizoni";
import { Image } from "astro:assets";
const title = "Voltar para a página inicial";
import SwitchLang from "../ui/test/SwitchLang.astro";
import SwitchTheme from "../ui/test/SwitchTheme.astro";
---

<header
  id="header"
  role="heading"
  aria-level="1"
  class="fixed hidden w-full p-2 z-1 no-transition animate-height transition-all ease-in-out duration-500"
>
  <div class="flex max-w-8xl justify-between items-center gap-4 p-2 mx-auto rounded-full">
    <Image
      id="logo"
      alt={alt}
      width={80}
      height={80}
      title={title}
      loading="eager"
      src="/logo.svg"
      onclick="goHome()"
      class="h-10 p-0.5 rounded-xl backdrop-blur-3xl cursor-pointer animate-show-logo"
    />
    <ul class="flex justify-center items-center ml-auto text-xl font-bold text-purple-blue font-cascadia-code gap-4">
      <li onclick="goSection(`about-me`)" class="cursor-pointer">About me</li>
      <li onclick="goSection(`contact-me`)" class="cursor-pointer">Contact me</li>
    </ul>
    <SwitchTheme />
    <SwitchLang />
  </div>
</header>

<script is:inline>
  function goHome() {
    if (window.location.pathname !== "/") {
      window.location.href = "/";
    }
  }
  function goSection(id) {
    const section = document.getElementById(id);
    section.scrollIntoView({ behavior: "smooth" });
  }

  const header = document.getElementById("header");
  const headerClasses = header.classList;

  // on load page
  function headerHiddenOnLoad() {
    const currentScrollY = window.scrollY;
    if (currentScrollY <= 300) {
      // header visible
      headerClasses.remove("hidden");
    }
  }

  function updateHeaderVisibility() {
    const currentScrollY = window.scrollY;
    if (currentScrollY >= 300) {
      // maior ent deve desaparecer com animate reverse...
      headerClasses.remove("no-transition");
      headerClasses.add("reverse");
    } else {
      headerClasses.remove("reverse");
    }
  }

  window.addEventListener("DOMContentLoaded", headerHiddenOnLoad);
  window.addEventListener("scroll", updateHeaderVisibility);
</script>
