---
import { Image } from "astro:assets";
import AsciiArt from "../ui/AsciiArts.astro";
import HeroBadge from "../ui/HeroBadge.astro";
---

<section id="hero" class="flex w-full min-h-screen justify-center items-center gap-20 pt-22 overflow-hidden">
  <div class="flex flex-col justify-center items-start gap-4">
    <AsciiArt />
    <HeroBadge />
  </div>
  <Image
    width={60}
    height={60}
    loading="eager"
    src="/fabio_minor.jpg"
    alt="Image by Fabio Ghizoni"
    class="w-64 h-64 animate-pulse-border rounded-full"
  />
</section>
