---
import AsciiSection from "./AsciiSection.astro";
import MainSection from "./MainSection.astro";
---

<section class="flex flex-col w-full min-h-screen justify-center items-center mt-12 gap-24 overflow-hidden">
  <AsciiSection />
  <MainSection />
</section>
