---
import GradientBg from "../ui/GradientBg.astro";
import AsciiArts from "../ui/hero-section/AsciiArts.astro";
import CircularLogo from "../ui/hero-section/CircularLogo.astro";
import HeroBadge from "../ui/hero-section/HeroBadge.astro";
import cn from "../utils";

const heroClass = cn(
  `flex relative md:flex-row flex-col w-full h-fit min-h-screen justify-center items-center gap-10 
    lg:gap-20 overflow-hidden p-4 md:p-0`,
);
---

<section id="hero" class={heroClass}>
  <GradientBg />
  <div class="relative flex flex-col justify-center items-start gap-2">
    <AsciiArts />
    <HeroBadge />
  </div>
  <CircularLogo isAnimated />
</section>
