---
import AsciiArt from "../ui/AsciiArts.astro";
import CircularLogo from "../ui/CircularLogo.astro";
import HeroBadge from "../ui/HeroBadge.astro";
import cn from "../utils/cn";

const heroClass = cn(
  `flex relative flex-col lg:flex-row w-full h-fit min-h-screen justify-center 
    items-center gap-10 lg:gap-20 overflow-hidden p-4 md:p-0`,
);
---

<section id="hero" class={heroClass}>
  <div
    class="absolute inset-0 bg-linear-to-br from-indigo-500 via-purple-500 to-blue-500
  dark:from-indigo-900 dark:via-purple-900 dark:to-blue-900"
  >
  </div>
  <div class="relative flex flex-col justify-center items-start gap-2">
    <AsciiArt />
    <HeroBadge />
  </div>
  <CircularLogo isAnimated />
</section>
