---
import { Icon } from "astro-icon/components";
import AsciiSection from "./AsciiSection.astro";
import MainSection from "./MainSection.astro";
---

<section class="flex flex-col w-full min-h-screen justify-center items-center mt-12 gap-24 overflow-hidden">
  <div class="flex bg-purple-blue justify-center items-center gap-1 px-3 py-1 rounded-full">
    <Icon name="material-symbols:star-rounded" class="size-6 text-yellow-500 brightness-200 animate-pulse" />
    <span class="text-lg text-white font-cascadia-code mt-0.5">Desenvolvedor Full-Stack</span>
  </div>
  <AsciiSection />
  <MainSection />
</section>
