---
const alt = "Logo Fábio Ghizoni";
import { Image } from "astro:assets";
const title = "Voltar para a página inicial";
import SwitchLang from "../ui/SwitchLang.astro";
import SwitchTheme from "../ui/SwitchTheme.astro";
---

<nav role="navigation" class="flex w-full fixed top-0 justify-between items-center gap-4 p-1 z-1">
  <Image
    alt={alt}
    width={80}
    height={80}
    title={title}
    loading="eager"
    src="/Logo.svg"
    onclick="goHome()"
    class="h-8 cursor-pointer animate-show-logo"
  />
  <SwitchTheme />
  <SwitchLang />
</nav>

<script is:inline>
  function goHome() {
    if (window.location.pathname !== "/") {
      window.location.href = "/";
    }
  }
</script>
