---
const alt = "Logo Fábio Ghizoni";
import { Image } from "astro:assets";
const title = "Voltar para a página inicial";
import SwitchLang from "../ui/SwitchLang.astro";
import SwitchTheme from "../ui/SwitchTheme.astro";
---

<nav
  role="navigation"
  class="flex bg-blue-700/30 w-full fixed top-0 border-b-2 border-purple-blue justify-between items-center gap-4 p-1 z-1 backdrop-blur-3xl"
>
  <Image
    alt={alt}
    width={80}
    height={80}
    title={title}
    loading="eager"
    src="/Logo.svg"
    onclick="goHome()"
    class="w-20 cursor-pointer animate-show-logo"
  />
  <SwitchTheme />
  <SwitchLang />
</nav>

<script is:inline>
  function goHome() {
    if (window.location.pathname !== "/") {
      window.location.href = "/";
    }
  }
</script>
