---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import img from "../../../public/Logo.png";
import Technologies from "../Technologies.astro";

interface Props extends astroHTML.JSX.HTMLAttributes {
  titleProject?: string;
}

const { titleProject = "My portfolio" } = Astro.props as Props;
---

<div class="flex flex-col bg-gray-default rounded-xl">
  <h1 class="font-space-grotesk">{titleProject}</h1>
  <Image src={img} alt="Image Logo" />
  <Icon name="mdi:github" class="text-4xl text-white" />
  <a href="/">See project</a>
  <Technologies list={["Node"]} />
</div>
