---
import { Icon } from "astro-icon/components";
import cn from "../../utils";

interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props as Props;
const baseClass =
  "flex flex-col sm:flex-row text-nowrap justify-center items-stretch gap-4";
---

<div class={cn(baseClass, className)}>
  <div
    class="from-purple-default to-purple-blue border-gray-default/20 flex items-center justify-center gap-1 rounded-full border-2 bg-linear-to-r px-6 py-2 dark:border-none"
  >
    <Icon
      name="material-symbols:star-rounded"
      class="h-6 w-6 animate-pulse text-yellow-400 brightness-200"
    />
    <span class="font-cascadia-code mt-0.5 text-white"
      >Full-Stack Developer</span
    >
  </div>
  <a
    role="link"
    href="/cv-fabio.pdf"
    download="cv-fabio.pdf"
    aria-label="Download CV"
    class="bg-purple-blue font-cascadia-code border-gray-default/20 animate-pulse-border flex cursor-pointer items-center justify-center gap-2 rounded-full border-2 px-6 py-2 font-bold text-white transition-opacity duration-300 ease-in-out hover:opacity-80 dark:border-none"
  >
    Download CV
    <Icon name="material-symbols:download" class="h-6 w-6" />
  </a>
</div>
