---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import UnderlineButton from "../../ui/UnderlineButton.astro";
import normalizeRoute from "../../utils";

const files = import.meta.glob("/src/pages/admin/**/*.{astro,md,mdx,jsx,tsx}", {
  eager: false,
});

const routes = Object.keys(files)
  .map(normalizeRoute)
  .sort((a, b) => a.length - b.length || b.localeCompare(a));
---

<Layout title="Admin | Fábio Ghizoni" bodyClass="justify-center items-center">
  <ul translate="no" class="text-2xl text-white font-space-grotesk">
    {
      routes.map((path) => (
        <li title={path}>
          <UnderlineButton
            href={path}
            title={path}
            variant="primary"
            class="after:h-0.5 after:bg-white"
          >
            {path}
          </UnderlineButton>
        </li>
      ))
    }
  </ul>
</Layout>
